<html>
  <head>
  <title>Dream Space</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/main.css">

  </head>
  <body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div class="message">
            {{ message }}
          </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
      <div class="row">
        <div class="u-full-width">
          <nav class="menu">
            <!-- menu goes here -->
              {% if current_user.is_authenticated %}
                <a href="{{ url_for('index') }}" title=" Feed ">Feed</a>
                <a href = "{{ url_for('post')}}" class = "New"> Create New Post</a>
                <a href = "{{ url_for('stream', username=current_user.username) }}"> Profile </a>
                <a href="{{ url_for('logout') }}" title="Log Out">Logout</a>
              {% else %}
                <a href="{{ url_for('login') }}" title ="Log in">Login</a>
                <a href="{{ url_for('register') }}" title="Sign Up">Sign Up</a>
              {% endif %}
          </nav>
          {% block content %}{% endblock %}
        </div>
      </div>
        <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
          <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
          </div>
        </footer> 
    </div>
  </body>
</html>