{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block content %}
<header class="w3-container w3-cyan w3-center" style="padding:30px 16px">
  <h1 class="w3-margin">Welcome Back!</h1>
</header>

<form method='POST' action=''>
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="six columns">
      {{ render_field(form.email) }}
    </div>
    <div class="six columns">
      {{ render_field(form.password) }}
    </div>
  </div>
  <div class="u-full-width">
    <input type="submit" class="button-primary" value="Login">
  </div>
</form>
{% endblock %}
