{% extends "layout.html" %}

{%block content %}
{%for post in stream %}
<style>
    p {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
    }
    p {outline-color:#E1E1E1;}
    p.groove {outline-style: groove;}

    .indented {
        padding-left: 50pt;
        padding-right: 50pt;
    }
    #div_top_hypers {
        background-color:#E1E1E1;
        display:inline;      
    }
    #ul_top_hypers li{
        display: inline;
    }
    hr{
        border-top: 3px solid #1EAEDB;
    }
</style>
    <article>
        <h4>
            <strong>
                <a href="{{ url_for('stream', username=post.user.username) }}">{{ post.user.username }}</a>
            </strong>
        </h4>
        <div class="post">
            <h5><b>{{ post.book }}</b></h5>
            <p class="groove">{{ post.content }}<p>
                <h6><b>Book recommendations based on this post</b></h6>
                
                <div id = 'div_top_hypers' >
                {% if post.recommendations|length > 0 %}
                <ul id="ul_top_hypers">
                    {%for book in post.recommendations%}
                        <li>{{ book }} |</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p> No recommendations for this book </p>
            {%endif%}
            <p><small>These books are recommended from Google Books API. This is still a work in progress.</small></p>
            </div>
             <i class="clock"></i><time data-time="{{ post.timestamp.timestamp() }}" class="distime" datetime="{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</time> <a href="{{ url_for('view_post', post_id=post.id) }}" class="view">View</a>
            <hr class="solid">
        </div>
    </article>
{% endfor %}
{% endblock %}
