{% extends "stream.html" %}

{% block content %}
<div class = "grid-25">
    <h1>{{user.username}}</h1>
</div>
<table style = 'width:100%'>
    <tr>
    <td>
        <h5>Posts</h5>
        <p> {{ user.posts.count() }}</p>
    </td>
    <td>
        <h5>Followers</h5>
        <p> {{user.followers().count()}} </p>
    </td>
    <td>
        <h5>Following</h5>
        <p> {{user.following().count()}} </p>
    </td>
    </tr>
</table>
<div class = "grid-25">
    <!-- Follow/unfollow -->
    {% if current_user.is_authenticated%}
        {% if user != current_user %}
            {% if not user in current_user.following()%}
                <a href ="{{url_for('follow',username=user.username) }}" class="small">Follow</a>
            {% else %}
                <a href ="{{url_for('unfollow',username=user.username) }}" class="small">Unfollow</a>
            {% endif %}        
        {% endif %}
    {% endif %}
</div>

{{super()}}
{% endblock %}